[Desktop Entry]
Type=Application
Name=pipemixer
GenericName=PipeWire Volume Control
Exec=pipemixer
Categories=Audio;AudioVideo
Keywords=PipeWire;Volume;Audio;Mixer;Control;Sound
Terminal=true
